/* Tailwind CSS base, components, and utilities are already included */
/* Import Tailwind CSS styles */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Your custom styles below */

/* Additional custom styles */
body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

.container {
  max-width: 50rem;
  margin: 2rem auto;
  border: 1px solid black;
  padding: 1rem;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #000;
  margin-bottom: 1rem;
}

h3 {
  font-weight: bold;
  font-size: 0.8rem;
  color: #000;
  margin: 3rem 0 1rem 0;
}
.input {
  width: 100%; /* Make the input field full-width */
  padding: 0.5rem; /* Adjust padding as needed */
  margin-bottom: 1rem; /* Add margin at the bottom for spacing */
}

.btn-analyse {
  width: 100%; /* Make the button full-width */
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  border: 1px solid #ccc;
  border-radius: 0.25rem; /* Adjust border-radius as needed */
  color: #f0f0f0;
  background-color: rgb(24, 11, 138);
  cursor: pointer; /* Add cursor pointer for better usability */
}
.analyzing-target-button {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space between items */
  background-color: #c5c5c5;
  color: #007bff;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  margin-bottom: 5px; /* Add margin at the bottom for spacing */
  width: 100%; /* Make button full-width */
}

.view-more-link {
  cursor: pointer;
  text-decoration: underline;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  padding: 10px;
}

.pagination button {
  padding: 8px;
}

.active {
  background-color: #c5c5c5;
  color: #313030;
  border: 1px solid #fff;
}

.found {
  background-color: #c5c5c5;
  color: #313030;
  width: 20%;
  height: 2.5rem;
}

.techs {
  background-color: #c5c5c5;
  color: #313030;
  width: 100%;
}
/* Responsive */
@media (max-width: 768px) {
  /* Add responsive styles if needed */
}

@media (max-width: 480px) {
  /* Add responsive styles if needed */
}
