@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

.container {
  max-width: 50rem;
  margin: 2rem auto;
  display: grid;
  gap: 1rem;
  transition: all 1s;
  position: relative;
}

.input {
  height: 2rem;
  border-radius: 0.3rem;
}

/* Sayfanın alt kısmına yerleştirmek için */
.btn-analyse {
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  background: #4352d1;
  color: #fff;
  max-width: 50rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

.text {
  font-weight: bold;
  color: rgb(24, 11, 138);
}

/* Responsive stiller */
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem auto;
  }

  .btn-analyse {
    grid-column: 1 / span 2;
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }

  .btn-analyse {
    grid-column: 1;
    grid-row: 7;
  }
}
